<a href="https://colab.research.google.com/github/manoj-vsp-5757/Linear-Regression/blob/main/salary_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [25]:
df = pd.read_csv('salaryprediction.csv')
df

   experience  test score(out of 10)  interview score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [26]:
import math
testscore_median = math.floor(df['test score(out of 10)'].mean())
testscore_median

7

In [27]:
df['test score(out of 10)'] = df['test score(out of 10)'].fillna(testscore_median)
df

   experience  test score(out of 10)  interview score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [28]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test score(out of 10)','interview score(out of 10)']],df['salary($)'])

LinearRegression()

In [29]:
reg.predict([[2,9,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([53713.86677124])

In [30]:
reg.predict([[12,10,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([93747.79628651])